* {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  vertical-align: middle;
  background-color: #1b264f;
  color: #f5f3f5;
}

body {
  min-width: 600px;
}

h1 {
  font-size: 3em;
}

#british-segway {
  margin: 30px auto 10px auto;
  width: 70vw;
  max-width: 400px;
  display: block;
}

#input {
  font-size: 2em;
  background-color: #302b27;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
}

#search {
  /* height: 4em;
  width: 8em; */
  margin: 5px;
  font-size: 2em;
  background-color: #a40d1b;
  border-radius: 3px;
  cursor: pointer;
}

#result-display {
  font-size: 2em;
  /* border-style: solid; */
}


#countdown-copy {
  color: #EDBFC5;
  font-size: 2rem;
}

#countdown-time {
  font-size: 2rem;
}
