* {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  vertical-align: middle;
  background-color: #1b264f;
  color: #f5f3f5;
}

body {
  display: block;
  max-width: 600px;
  margin: 0px auto;
}

h1 {
  font-size: 2.2em;
  letter-spacing: 3px;
}

#british-segway {
  margin: 50px auto 30px auto;
  width: 70vw;
  max-width: 400px;
  display: block;
}

#input {
  font-size: 1.4em;
  background-color: #302b27;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
  font-family: 'Permanent Marker', cursive;
}


#search {
  margin: 5px;
  font-size: 1.8em;
  background-color: #a40d1b;
  border-radius: 3px;
  cursor: pointer;
}

#result-display {
  font-size: 1.8em;
}


#countdown-copy {
  color: #EDBFC5;
  font-size: 1.8rem;
}

#countdown-time {
  font-size: 1.8rem;
}
